sudo: required
dist: trusty

language: cpp
compiler:
  - gcc
  - clang

env:
  global:
  matrix:
    - CMAKE_BUILD_TYPE=Release
    - CMAKE_BUILD_TYPE=Debug
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-5
    - g++-5
    - libedit-dev


install:
  - sudo bash ./ci/install-llvm-37-from-repos.sh
  - if [ "$CXX" = "clang++" ]; then export CXX="clang++-3.7" CC="clang-3.7"; fi
  - if [ "$CXX" = "g++" ]; then export CXX="g++-5" CC="gcc-5"; fi


script:
  - LLVM_CONFIG_EXE=llvm-config-3.7 CMAKE_GENERATOR="Unix Makefiles" bash ./ci/build.sh
  - bash ./ci/test.sh
  - cd build && ./zig build .tmp_source.zig --export exe --name test --output ./.tmp_exe --release --strip --color on



